{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Wallet
{% endblock %}

{% block body_block %}
    <div class="p-4">
    <div class="container" style="text-align: center;">
        <h1>Account information</h1>
    </div>
</div>

<div class="container" style="width: 600px; height: auto;">
    <h5>Username</h5>
    <p>{{ user.username }}</p>
    <h5>Email</h5>
    <p>{{ user.email }}</p>
    <h5>Wallet</h5>
    <div class="d-flex flex-row">
        <span style="font-size: 20px;margin-right: 10px;color:black;">cash:</span> <span style="font-size:20px;margin-right: 20px;" id="id_cash">￡{{ wallet.cash }}</span>
{#        <p style="font-size:20px;margin-right: 20px;" id="id_cash"><span style="color:black;">cash:   </span>￡{{ wallet.cash }}</p>#}
        <p class="btn btn-primary" data-toggle="modal" data-target="#chargeModal">Charge</p>
    </div>

    <p style="font-size:20px"><span style="color:black;margin-right: 10px;">points:</span>{{ wallet.points }}</p>

    {% if wallet.points == 0 %}
            <p style="font-size:14px;color:black;">Tips: 100 points can be worth 1 pound when placing an order. Points can be earned by placing an order and commenting on an order.</p>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hello, {{ user.username }}!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="required" for="id_amount">Please fill in the amount you want to charge(Minimum ￡1):</label>
        <input type="number" min="1" name="inputCharge" id="id_amount" class="form-control" placeholder="" required autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_charge" data-username="{{ user.username }}">Charge</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}