{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Wallet
{% endblock %}

{% block body_block %}
    <div class="p-4">
    <div class="container" style="text-align: center;">
        <h1>Account information</h1>
    </div>
</div>

<div class="container" style="width: 600px; height: auto;">
    <h5>Username</h5>
    <p>{{ user.username }}</p>
    <h5>Email</h5>
    <p>{{ user.email }}</p>
    <h5>Wallet</h5>
    <p style="font-size:20px"><span style="color:black;">cash:   </span>￡{{ wallet.cash }}</p>
    <p style="font-size:20px"><span style="color:black;">points:   </span>{{ wallet.points }}</p>

    {% if wallet.points == 0 %}
            <p style="font-size:14px;color:black;">Tips: 200 points can be worth 1 pound when placing an order. Points can be earned by placing an order and commenting on an order.</p>
    {% endif %}
</div>
{% endblock %}