{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Wallet
{% endblock %}

{% block body_block %}
    <div class="p-4">
    <div class="container" style="text-align: center;">
        <h1>Account information</h1>
    </div>
</div>

<div class="container" style="width: 600px; height: auto;">
<div class="row">
    <h5>Username</h5>
    <p>Lijuan</p>
    <h5>Email</h5>
    <p>ton.ghui@gmail.com</p>
    <h5>Wallet</h5>
    <p>20￡ + 300 points</p>

</div>
</div>
{% endblock %}