{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Cart
{% endblock %}

{% block body_block %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
{#                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>#}
                    <h1 class="mb-0 bread">My Cart</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cart_detail in cart_detail_list %}
                                <tr>
{#                                    <th scope="row">{{ forloop.counter }}</th>#}
                                    <td class="product-remove" data-product="{{ cart_detail.id }}"><a href="#"><span class="ion-ios-close"></span></a></td>
                                    <td>
                                        <img src="{{ MEDIA_URL }}{{ cart_detail.food.picture }}" style="width: 130px;">
                                    </td>
                                    <td>{{ cart_detail.food.title }}</td>
                                    <td>￡{{ cart_detail.food.discounted_price }}</td>
                                    <td>
                                        <div class="col-md-12 d-flex justify-content-center align-items-center">
                                            <div class="input-group col-md-9 d-flex mb-3">
                                              <span class="input-group-btn mr-2">
                                                  <button type="button" class="cart_minus quantity-left-minus btn" data-id="{{ cart_detail.food.food_id }}" data-food="{{ cart_detail.food.food_id }}" data-type="minus" data-field="" style="border-radius: 0px;">
                                                      <i class="ion-ios-remove"></i>
                                                  </button>
                                              </span>
                                              <input type="number" name="quantity" class="cart_quantity form-control input-number" data-id="{{ cart_detail.food.food_id }}" value="{{ cart_detail.count }}" min="1" max="100" readonly>
                                              <span class="input-group-btn ml-2">
                                                  <button type="button" class="cart_plus quantity-right-plus btn" data-id="{{ cart_detail.food.food_id }}" data-food="{{ cart_detail.food.food_id }}" data-type="plus" data-field="" style="border-radius: 0px;">
                                                      <i class="ion-ios-add"></i>
                                                  </button>
                                              </span>
                                            </div>
				                        </div>


{#                                        {{ cart_detail.count }}#}
{#                                        <a href=""><i#}
{#                                                class="fas fa-plus ml-3"></i></a>#}
                                    </td>
                                    <td>

                                        <span class="food_total_price" data-id="{{ cart_detail.food.food_id }}" data-unit-price="{{ cart_detail.food.discounted_price }}" data-total-price="{{ cart_detail.total_price }}">￡{{ cart_detail.total_price }}</span>

                                        <a style="color: red"
                                           href="">
                                            <i class="fas fa-trash float-right"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">Your cart is empty</td>
                                </tr>
                                </tbody>
                            {% endfor %}

                            {% if cart_detail_list %}
                                <tr>
                                    <td colspan="5" style="text-align-last: right; font-size: 20px">
                                        <b>Order Total : </b>
{#                                        <br>#}
{#                                        <b>Saving : </b>#}
                                    </td>
                                    <td style="font-size: 20px">
                                        <b class="total_price" data-total-price="{{ total_price }}">￡{{ total_price }}</b>
{#                                        <br>#}
{#                                        <b>￡{{ total_discount }}</b>#}
                                    </td>
                                </tr>
{#                                <tr>#}
{#                                    <td colspan="5" style="text-align-last: right; font-size: 20px"><b>Saving : </b></td>#}
{#                                    <td style="font-size: 20px"><b>￡{{ total_discount }}</b></td>#}
{#                                </tr>#}
                                <tr>
                                    <td colspan="6">
                                        <a href="{% url 'takeaway:checkout' cart_id %}" class="btn btn-primary btn-lg float-right ml-2">Checkout</a>
                                        <a href="{% url 'takeaway:index' %}" class="btn btn-secondary btn-lg float-right">Continue Shopping</a>

                                    </td>

                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}