{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Checkout
{% endblock %}

{% block body_block %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-7 ftco-animate">
				<form action=# class="billing-form">
				
				<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="firstname">Firt Name</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_firstname">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="lastname">Last Name</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_lastname">
	                </div>
                </div>
                
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="streetaddress">Street Address</label>
	                  <input type="text" class="form-control" placeholder="House number and street name" id="id_checkout_address">
	                </div>
		            </div>
		            
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="towncity">Town / City</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_city">
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label for="postcodezip">Postcode / ZIP *</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_postcode">
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone">Phone</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_phone">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="emailaddress">Email Address</label>
	                  <input type="text" class="form-control" placeholder="" id="id_checkout_email">
	                </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                	<div class="form-group mt-4">
										
									</div>
                </div>
	            </div>
	          </form><!-- END -->
					</div>
					<div class="col-xl-5">
	          <div class="row mt-5 pt-3">
	          	<div class="col-md-12 d-flex mb-5">
	          		<div class="cart-detail cart-total p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span>￡{{ total_price }}</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>￡0.0</span>
		    					</p>
{#		    					<p class="d-flex">#}
{#		    						<span>Discount</span>#}
{#		    						<span>￡{{ total_discount }}</span>#}
{#		    					</p>#}
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>￡{{ total_price }}</span>
		    					</p>
								</div>
	          	</div>
	          	<div class="col-md-12">
	          		<div class="cart-detail p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Payment Method</h3>
{#						  			Select a Payment Method#}
{#									<br>#}
{#									<div class="form-group">#}
{#										<div class="col-md-12">#}
{#											<div class="radio">#}
{#											   <label><input type="checkbox" name="optradio" class="mr-2"> Cash ({{ wallet.cash }}£) </label>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}

                                    {% if points == 0 %}
                                        <div class="col-md-12">
                                            <p style="font-size:12px;color:darkred;">Tips: Your have 0 points. 100 points can be worth 1 pound when placing an order. Points can be earned by placing an order and commenting on an order.</p>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
										<div class="col-md-12">
											<div class="radio">
                                                <label><input type="checkbox" class="mr-2" id="id_points_checkbox" data-total-price="{{ total_price }}" data-points="{{ points }}" data-equivalent-cash="{{ equivalent_cash }}"> Wallet Points ({{ points }}) <span id="worth_cash" style="color: red">worth ￡{{ equivalent_cash }}</span></label>
											</div>
										</div>
									</div>
                                    {% endif %}


                                    <div class="col-md-12">
                                        <p style="font-size:20px;"><b>You need to pay:</b></p>
                                        <p id="id_checkout_cash" style="font-size:20px;"><b>￡{{ total_price }}</b></p>
                                    </div>

                                    <div class="col-md-12">
                                        <p style="font-size:20px;"><b>Your wallet:</b></p>
                                        <div class="d-flex flex-row">
                                            <span style="font-size:20px;margin-right: 20px;" id="wallet_cash"><b>￡{{ cash }}</b></span>
                                            {% if total_price > cash %}
                                                <p class="btn btn-danger btn-sm" data-toggle="modal" data-target="#chargeModal" id="checkout-charge" style="width: 100px">Charge</p>
                                            {% endif %}
                                        </div>
{#                                        <p id="wallet_cash" style="font-size:20px;"><b>￡{{ cash }}</b></p>#}

                                    </div>


									<div class="modal-footer">
										{% if total_price > cash %}
										<button type="button" class="btn btn-primary btn-lg checkout-form" id="checkout-form" data-order-id="{{ order_id }}" disabled>Pay</button>
									    {% else %}
                                        <button type="button" class="btn btn-primary btn-lg checkout-form" id="checkout-form" data-order-id="{{ order_id }}">Pay</button>
                                        {% endif %}
                                    </div>
								</div>
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

    <!-- Modal -->
<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hello, {{ user.username }}!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="required" for="id_amount">Please fill in the amount you want to charge(Minimum ￡1):</label>
        <input type="number" min="1" name="inputCharge" id="id_amount" class="form-control" placeholder="" required autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_checkout_charge" data-username="{{ user.username }}" data-total-price="{{ total_price }}">Charge</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
