{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url({% static 'images/bg_1.jpg' %});">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
                            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
{#                            <p><a href="#" class="btn btn-primary">View Details</a></p>#}
                        </div>

                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url({% static 'images/bg_2.jpg' %});">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-sm-12 ftco-animate text-center">
                            <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
                            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
{#                            <p><a href="#" class="btn btn-primary">View Details</a></p>#}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="border">
            <div class="d-flex flex-row align-items-center">
                <div class="col-6">
                    <img class="col" src="{{ MEDIA_URL }}{{ special_food.picture }}">
                </div>
                <div class="col-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                    <h3 class="subheading">Best Price For You</h3>
                    <h2 class="mb-4">Deal of the day</h2>
                    <h4><a href="#">{{ special_food.title }}</a></h4>
                    <p><span class="mr-2 price-dc">￡{{ special_food.price }}</span><span class="price-sale">now ￡{{ special_food.discounted_price }} only</span></p>
{#                    <span class="price">$15 <a href="#">now $10 only</a></span>#}
                    <p><a href="/product/" class="btn btn-primary">View Details</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Foods</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for food in foods %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ MEDIA_URL }}{{ food.picture }}"
                                                          alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-left">
                            <h3><a href="#">Tofu with Kung Po Sauce</a></h3>
                            <input class="input-rating" type="text" title="" data-min=0 data-max=5 data-step=0.1 data-size="xs" value="{{ food.rating }}">
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">￡{{ food.price }}</span><span class="price-sale">￡{{ food.discounted_price }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="add_cart bottom-area d-flex justify-content-end px-3" data-username="{{ user.username }}" data-food="{{ food.food_id }}">
                                <a class="buy-now d-flex  justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
