{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
history
{% endblock %}

{% block body_block %}

<link href="{% static 'css/history-order.css' %}" rel="stylesheet">
<div class="container">
    <div class="p-4">
        <div class="container" style="text-align: center;">
            <h1>Order History</h1>
        </div>
    </div>

    <section class="ftco-section">
        {% for order in orders %}
        <div class="order">
            <h2><a href="{% url 'takeaway:review' order.order_id%}">Order #{{ order.order_id }}</a></h2>
            <div class="order-info">
                <div class="order-id">Order ID: {{ order.order_id }}</div>
                <div class="order-date">Date: {{ order.date }}</div>
                <div class="order-status">
                    Status: <span class="status status-delivered">{{ order.delivery_state }}</span>
                </div>
            </div>

            <div class="order-content">
                {% for orderdetail in orderdetails %}
                    {{ orderdetail.food }} x {{ orderdetail.count }} &nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>

            <div class="order-details">
                <div>
                    <a href="{% url 'takeaway:review' order.order_id%}">Review</a>
                </div>
                <div>
                    Total: {{ order.payment }}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</div>
{% endblock %}