{% extends 'takeaway/base.html' %}
{% load static %}

{% block title_block %}
history
{% endblock %}

{% block body_block %}

<link href="{% static 'css/review.css' %}" rel="stylesheet">
<div class="container">
    <div class="p-4">
        <div class="container" style="text-align: center;">
            <h1>Order Details</h1>
        </div>
    </div>
    <section class="ftco-section">
        <div class="order">
            <h2><a href="#">Order #{{ order.order_id }}</a></h2>
            <div class="order-info">
                <div class="order-id">Order ID: {{ order.order_id }}</div>
                <div class="order-date">Date: {{ order.date }}</div>
                <div class="order-status">
                    Status: <span class="status status-delivered">{{ order.delivery_state }}</span>
                </div>
            </div>

            {% for orderdetail in orderdetails %}

            <div class="food-list">
                <div class="food-name">{{ orderdetail.food }}</div>
                <div class="food-count">x {{ orderdetail.count }}</div>
                <div class="food-review-submit"><p class="btn btn-primary" data-toggle="modal"
                                                   data-target="#{{orderdetail}}">Review</p></div>
            </div>
            {% endfor %}
            <div class="order-details">
                <div class="Total">
                    Total: {{ order.payment }}
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="{{orderdetail}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label class="required" for="id_review">Could you please give us the feedback?</label>
                <input type="text" name="inputReview" value="{{ reviewModal.ir }}" id="id_review" class="form-control" placeholder="" required
                       autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" value="{{ reviewModal.af }}" id="btn_review" data-username="{{ user.username }}">
                    Feedback
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}